/*
 * Copyright (C) 2015 Freescale Semiconductor, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

#include "imx6ul-invsom.dtsi"


/ {
	model = "Freescale i.MX6 UltraLite Inventron SOM";
	compatible = "fsl,imx6ul-invsom", "fsl,imx6ul";

	chosen {
		stdout-path = &uart6;
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x20000000>; /* 512 MB RAM*/
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x14000000>;
			linux,cma-default;
		};
	};

	backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm7 0 5000000>;
		pwm-names = "lcdbacklight";
		brightness-levels = <0 4 8 16 32 64 128 250>;
		default-brightness-level = <6>;
		status = "disabled";
	};
	
	inveventhandler {
		compatible = "inveventdrv";
		status = "okay";
		
		gps-antenna-power-gpio = <&gpio1 27 GPIO_ACTIVE_LOW>;
		usb-host-power-gpio = <&gpio1 12 GPIO_ACTIVE_HIGH>;
		usb-otg1-power-gpio = <&gpio1 10 GPIO_ACTIVE_LOW>;
		ethernet1-power-gpio = <&gpio4 20 GPIO_ACTIVE_HIGH>;
	};
	
	pxp_v4l2 {
		compatible = "fsl,imx6ul-pxp-v4l2", "fsl,imx6sx-pxp-v4l2", "fsl,imx6sl-pxp-v4l2";
		status = "okay";
	};

	reg_sd1_vmmc: sd1_regulator {
		compatible = "regulator-fixed";
		regulator-name = "VSD_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio1 9 GPIO_ACTIVE_HIGH>;
		off-on-delay = <20000>;
		enable-active-high;
	};
	
	reg_can_3v3: regulator@0 {
		compatible = "regulator-fixed";
		reg = <0>;
		regulator-name = "can-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
	  	regulator-always-on;
		off-on-delay = <20>;
		enable-active-high;
	};
	
	reg_gpio_dvfs: regulator-gpio {
		compatible = "regulator-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_dvfs>;
		regulator-min-microvolt = <1300000>;
		regulator-max-microvolt = <1400000>;
		regulator-name = "gpio_dvfs";
		regulator-type = "voltage";
		states = <1300000 0x1 1400000 0x0>;
	};
	
	reg_vref_3v3: regulator-vref {
	  compatible = "regulator-fixed";
	  regulator-name = "vref-3v3";
	  regulator-min-microvolt = <3300000>;
	  regulator-max-microvolt = <3300000>;
	  regulator-always-on;
	  regulator-boot-on;		  
	};
	
	reg_vref_1v8: regulator-vref-1v8 { /* V1.8 */
		compatible = "regulator-fixed";
		regulator-name = "vref-1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	  	regulator-boot-on;		  
	};
};

&adc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_adc1>;
	status = "disabled";
};

&can2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan2>;
	xceiver-supply = <&reg_can_3v3>;
	status = "disabled";
};

&clks {
	assigned-clocks = <&clks IMX6UL_CLK_PLL4_AUDIO_DIV>;
	assigned-clock-rates = <786432000>;
};

&fec1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet1>;
	phy-reset-gpios = <&gpio4 28 GPIO_ACTIVE_HIGH>; /* ENET1_nRST reset active high (pcf ile phy-rst pini arasindaki mosfetten dolayi) */
	phy-reset-duration = <1>;
	phy-reset-active-high;
	phy-mode = "rmii";
	phy-handle = <&ethphy0>;
	status = "okay";
	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@1 {
			/* compatible = "ethernet-phy-ieee802.3-c22"; */
			reg = <1>;
			clocks = <&clks IMX6UL_CLK_ENET_REF>;
			clock-names = "rmii-ref";
			status = "okay";			
		};

	};	
};

&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "disabled";

};

&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "disabled";
};

&pwm7 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm7>;
	status = "disabled";
};

&pxp {
	status = "okay";
};

&uart2 { /* gsm */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&uart3 { /* rs232 - rs485 */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	uart-has-rtscts;
	linux,rs485-enabled-at-boot-time;	
	status = "okay";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	status = "okay";
};

&uart6 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart6>;
	status = "okay";
};

&uart7 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart7>;
	status = "okay";
};

&usbotg1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb_otg1_id>;
	dr_mode = "otg";
	srp-disable;
	hnp-disable;
	adp-disable;
	disable-over-current;
	status = "okay";
};

&usbotg2 {
	dr_mode = "host";
	disable-over-current;
	status = "okay";
};

&usbphy1 {
	tx-d-cal = <0x5>;
};

&usbphy2 {
	tx-d-cal = <0x5>;
};

&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	keep-power-in-suspend;
	wakeup-source;
	vmmc-supply = <&reg_sd1_vmmc>;
	status = "okay";
};

&usdhc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc2>;
	keep-power-in-suspend;
	non-removable;
	bus-width = <8>;
	status = "okay";
};

&wdog1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog>;
	fsl,ext-reset-output;
	status = "disabled";
};

&snvs_poweroff {
	status = "okay";
};

&snvs_pwrkey {
	status = "okay";
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog_1>;

	pinctrl_hog_1: hoggrp-1 {
		fsl,pins = <
            MX6UL_PAD_GPIO1_IO03__GPIO1_IO03            0x000010B0 // ENET1_nINT
			MX6UL_PAD_CSI_HSYNC__GPIO4_IO20				0x000010B0 // ETHERNET_POWER_EN
			            
			// MX6UL_PAD_GPIO1_IO04__GPIO1_IO04			0x000010B0 // output: wifi modul 1:acik
			MX6UL_PAD_GPIO1_IO08__GPIO1_IO08			0x000010B0 // gsm power 500ms 1 then 0: on 
			MX6UL_PAD_CSI_DATA06__GPIO4_IO27			0x000010B0 // RLY_CNTRL
			MX6UL_PAD_CSI_DATA05__GPIO4_IO26			0x000010B0 // DO2
			MX6UL_PAD_CSI_DATA04__GPIO4_IO25			0x000010B0 // DO1
			MX6UL_PAD_CSI_DATA03__GPIO4_IO24			0x000010B0 // DI4
			MX6UL_PAD_CSI_DATA02__GPIO4_IO23			0x000010B0 // DI3
			MX6UL_PAD_CSI_DATA01__GPIO4_IO22			0x000010B0 // DI2
			MX6UL_PAD_CSI_DATA00__GPIO4_IO21			0x000010B0 // DI1
			MX6UL_PAD_ENET2_TX_CLK__GPIO2_IO14			0x000010B0 // Leksan BTN
			MX6UL_PAD_ENET2_TX_EN__GPIO2_IO13			0x000010B0 // Leksan LED
			MX6UL_PAD_ENET2_TX_DATA1__GPIO2_IO12		0x000010B0 // Watchdog IC enable
			MX6UL_PAD_ENET2_RX_ER__GPIO2_IO15			0x000010B0 // CTP_INT
			MX6UL_PAD_JTAG_TCK__GPIO1_IO14				0x000010B0 // CTP_RESET
			MX6UL_PAD_UART3_RTS_B__GPIO1_IO27			0x000010B0 // GPS_ANT_SUPPLY_ONOFF
			MX6UL_PAD_JTAG_MOD__GPIO1_IO10				0x000010B0 // USB_OTG1_PWR
			MX6UL_PAD_JTAG_TDO__GPIO1_IO12				0x000010B0 // USB_HOST_PWR
			MX6UL_PAD_JTAG_TDI__GPIO1_IO13				0x000010B0 // CAN_STBY
			
			MX6UL_PAD_UART1_RTS_B__GPIO1_IO19 0x1b0b1 /* input */
			MX6UL_PAD_UART1_CTS_B__GPIO1_IO18 0x1b0b1 /* output */
		>;
	};
	
	pinctrl_adc1: adc1grp {
		fsl,pins = <
			MX6UL_PAD_GPIO1_IO01__GPIO1_IO01        0xb0
		>;
	};

	pinctrl_adc2: adc2grp {
		fsl,pins = <
			MX6UL_PAD_GPIO1_IO02__GPIO1_IO02        0xb0
		>;
	};

	pinctrl_flexcan2: flexcan2grp {
		fsl,pins = <
			MX6UL_PAD_UART2_RTS_B__FLEXCAN2_RX	0x1b020
			MX6UL_PAD_UART2_CTS_B__FLEXCAN2_TX	0x1b020
		>;
	};
	
	pinctrl_dvfs: dvfsgrp {
		fsl,pins = <
			MX6UL_PAD_SNVS_TAMPER3__GPIO5_IO03	0x79
		>;
	};

	pinctrl_enet1: enet1grp {
		fsl,pins = <
			MX6UL_PAD_ENET1_RX_EN__ENET1_RX_EN		0x1b0b0
			MX6UL_PAD_ENET1_RX_ER__ENET1_RX_ER		0x1b0b0
			MX6UL_PAD_ENET1_RX_DATA0__ENET1_RDATA00	0x1b0b0
			MX6UL_PAD_ENET1_RX_DATA1__ENET1_RDATA01	0x1b0b0
			MX6UL_PAD_ENET1_TX_EN__ENET1_TX_EN		0x1b0b0
			MX6UL_PAD_ENET1_TX_DATA0__ENET1_TDATA00	0x1b0b0
			MX6UL_PAD_ENET1_TX_DATA1__ENET1_TDATA01	0x1b0b0
			MX6UL_PAD_ENET1_TX_CLK__ENET1_REF_CLK1	0x4001b031
            MX6UL_PAD_GPIO1_IO06__ENET1_MDIO        0x000010B0
            MX6UL_PAD_GPIO1_IO07__ENET1_MDC         0x000010B0
            MX6UL_PAD_CSI_DATA07__GPIO4_IO28		0x000010B0 // ENET1_nRST
		>;
	};
		
	pinctrl_i2c1: i2c1grp {
		fsl,pins = <
			MX6UL_PAD_CSI_PIXCLK__I2C1_SCL 0x4001b8b0
			MX6UL_PAD_CSI_MCLK__I2C1_SDA 0x4001b8b0
		>;
	};
	
	pinctrl_i2c2: i2c2grp {
		fsl,pins = <
			MX6UL_PAD_UART5_TX_DATA__I2C2_SCL 0x4001F0B1
			MX6UL_PAD_UART5_RX_DATA__I2C2_SDA 0x4001F0B1
		>;
	};

	pinctrl_pwm7: pwm2grp {
		fsl,pins = <
            MX6UL_PAD_CSI_VSYNC__PWM7_OUT             0x110b0 
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
		/*	MX6UL_PAD_UART1_TX_DATA__UART1_DTE_RX 0x1b0b1
			MX6UL_PAD_UART1_RX_DATA__UART1_DTE_TX 0x1b0b1
			MX6UL_PAD_UART1_RTS_B__UART1_DTE_CTS 0x1b0b1
			MX6UL_PAD_UART1_CTS_B__UART1_DTE_RTS 0x1b0b1
		*/		
		
			MX6UL_PAD_UART1_TX_DATA__UART1_DCE_TX 0x1b0b1
			MX6UL_PAD_UART1_RX_DATA__UART1_DCE_RX 0x1b0b1
			/*MX6UL_PAD_UART1_RTS_B__UART1_DCE_RTS 0x1b0b1
			MX6UL_PAD_UART1_CTS_B__UART1_DCE_CTS 0x1b0b1*/
			
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX6UL_PAD_UART2_TX_DATA__UART2_DCE_TX	0x1b0b1
			MX6UL_PAD_UART2_RX_DATA__UART2_DCE_RX	0x1b0b1
		>;
	};

	pinctrl_uart3: uart3grp {
		fsl,pins = <
			MX6UL_PAD_UART3_TX_DATA__UART3_DCE_TX	0x1b0b1
			MX6UL_PAD_UART3_RX_DATA__UART3_DCE_RX	0x1b0b1
			MX6UL_PAD_UART3_CTS_B__UART3_DCE_CTS	0x1b0b1
		>;
	};
		
	pinctrl_uart4: uart4grp {
		fsl,pins = <
			MX6UL_PAD_UART4_TX_DATA__UART4_DCE_TX 0x1b0b1
			MX6UL_PAD_UART4_RX_DATA__UART4_DCE_RX 0x1b0b1
		>;
	};

	pinctrl_uart6: uart6grp {
		fsl,pins = <
			MX6UL_PAD_ENET2_RX_DATA0__UART6_DCE_TX 0x1b0b1
			MX6UL_PAD_ENET2_RX_DATA1__UART6_DCE_RX 0x1b0b1
		>;
	};

	pinctrl_uart7: uart6grp {
		fsl,pins = <
			MX6UL_PAD_ENET2_RX_EN__UART7_DCE_TX 0x1b0b1
			MX6UL_PAD_ENET2_TX_DATA0__UART7_DCE_RX 0x1b0b1
		>;
	};	
	
	pinctrl_usb_otg1_id: usbotg1idgrp {
		fsl,pins = <
			MX6UL_PAD_GPIO1_IO00__ANATOP_OTG1_ID	0x17059
		>;
	};

	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			MX6UL_PAD_SD1_CMD__USDHC1_CMD     	0x17059
			MX6UL_PAD_SD1_CLK__USDHC1_CLK     	0x10071
			MX6UL_PAD_SD1_DATA0__USDHC1_DATA0 	0x17059
			MX6UL_PAD_SD1_DATA1__USDHC1_DATA1 	0x17059
			MX6UL_PAD_SD1_DATA2__USDHC1_DATA2 	0x17059
			MX6UL_PAD_SD1_DATA3__USDHC1_DATA3 	0x17059
		>;
	};

	pinctrl_usdhc1_100mhz: usdhc1grp100mhz {
		fsl,pins = <
			MX6UL_PAD_SD1_CMD__USDHC1_CMD     	0x170b9
			MX6UL_PAD_SD1_CLK__USDHC1_CLK     	0x100b9
			MX6UL_PAD_SD1_DATA0__USDHC1_DATA0 	0x170b9
			MX6UL_PAD_SD1_DATA1__USDHC1_DATA1 	0x170b9
			MX6UL_PAD_SD1_DATA2__USDHC1_DATA2 	0x170b9
			MX6UL_PAD_SD1_DATA3__USDHC1_DATA3 	0x170b9
			/* MX6UL_PAD_UART1_RTS_B__USDHC1_CD_B       0x17059 SD1 CD */		
		>;
	};

	pinctrl_usdhc1_200mhz: usdhc1grp200mhz {
		fsl,pins = <
			MX6UL_PAD_SD1_CMD__USDHC1_CMD     	0x170f9
			MX6UL_PAD_SD1_CLK__USDHC1_CLK     	0x100f9
			MX6UL_PAD_SD1_DATA0__USDHC1_DATA0 	0x170f9
			MX6UL_PAD_SD1_DATA1__USDHC1_DATA1 	0x170f9
			MX6UL_PAD_SD1_DATA2__USDHC1_DATA2 	0x170f9
			MX6UL_PAD_SD1_DATA3__USDHC1_DATA3 	0x170f9
			/* MX6UL_PAD_UART1_RTS_B__USDHC1_CD_B       0x17059 SD1 CD */	
		>;
	};

	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
            MX6UL_PAD_NAND_RE_B__USDHC2_CLK     0x17059
            MX6UL_PAD_NAND_WE_B__USDHC2_CMD     0x17059
            MX6UL_PAD_NAND_DATA00__USDHC2_DATA0 0x170b9
			MX6UL_PAD_NAND_DATA01__USDHC2_DATA1 0x170b9
			MX6UL_PAD_NAND_DATA02__USDHC2_DATA2 0x170b9
			MX6UL_PAD_NAND_DATA03__USDHC2_DATA3 0x170b9
			MX6UL_PAD_NAND_DATA04__USDHC2_DATA4 0x170b9
			MX6UL_PAD_NAND_DATA05__USDHC2_DATA5 0x170b9
			MX6UL_PAD_NAND_DATA06__USDHC2_DATA6 0x170b9
			MX6UL_PAD_NAND_DATA07__USDHC2_DATA7 0x170b9
			MX6UL_PAD_NAND_ALE__USDHC2_RESET_B  0xb0b1
		>;
	};
			
	pinctrl_wdog: wdoggrp {
		fsl,pins = <
			MX6UL_PAD_GPIO1_IO09__WDOG1_WDOG_ANY    0x30b0
		>;
	};
};

#include "imx6ul-invsom-btwifi.dtsi"
